<div id="auth">
	<div class="auth-container">
		<div class="log-in">
			<!-- <h1>facbook Login</h1> -->
			<!-- <hr style="margin-top: 0.2rem;margin-bottom: 0.5rem;"> -->
			<form id="login" ng-submit="signIn()" class="hide" autocomplete="off">
				<input required id="email" type="text" ng-model="email" placeholder="email...">
				<input required id="password" class="last" type="password" ng-model="password" placeholder="password...">
				<input required id="submit" type="submit" ng-model="submit" value="Login Or Register">
			</form>
			<!-- <a ng-click="signIn_g()" href="" class="btn fb">login or register with google</a> -->
			<a class="fb" ng-click="signIn_g()">login with google</a>
			<!-- <a class="fb" ng-click="addProfile()">test</a> -->
			<!-- <a ng-click="createUser()" href="" class="btn fb">register with google</a> -->
		</div>
	</div>

</div>